
h1 {
    color: #ECDFCC;
    font-size: 3.5rem;
}

body{
    background-image: url("/images/floral1opaque.png") !important;
    background-color: #8a8d63;
    background-size: contain;                
    background-position: bottom;             
    background-repeat: repeat-x;          
    margin: 0;
    height: 100vh;
    text-align: center;
}

h5{
    color: #ECDFCC;
    font-size: 1.4rem;
}
small{
    color: #ECDFCC;
    text-align: center !important;
}
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    color: #ECDFCC;
}